{% extends "base.html" %}

{% block message %}
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">×</span>
            </button>
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Member Search</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br/>
                <p class="font-gray-dark">
                    Enter contact number below.
                </p>
                <form action="/usersearch/" method="post">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-7">
                            {{ form.as_p }}
                            <input type="submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for member in members %}
            <div class="col-md-6 col-sm-6 col-xs-12 x_panel">
                <div class=" profile_view">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4 class="brief"><i>{{ member.memberName }}</i></h4>
                            </div>
                            <div class="col-sm-6 pull-right">
                            <div class="pull-right" style="height: 100px;">
                                <img style="height: 100%;" src="{{ MEDIA_URL }}{{ member.profileImage }}" alt="Logo"
                                     class="img-rounded img-thumbnail">
                            </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="left col-xs-7">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-calendar"></i><strong> Date of
                                        Birth</strong> {{ member.dateOfBirth }}  </li>
                                    <li><i class="fa fa-user"></i><strong> Father name</strong> {{ member.fatherName }}
                                    </li>
                                    <li><i class="fa fa-home"></i><strong>
                                        Address1:</strong> {{ member.memberAddress1 }}
                                    </li>
                                    <li><i class="fa fa-map-marker"></i><strong>
                                        City1:</strong> {{ member.memberCity1 }}
                                    </li>
                                    <li><i class="fa fa-info"></i><strong>
                                        Pincode1:</strong> {{ member.memberPincode1 }}
                                    </li>
                                    <li><i class="fa fa-home"></i><strong>
                                        Address2:</strong> {{ member.memberAddress2 }}
                                    </li>
                                    <li><i class="fa fa-map-marker"></i><strong>
                                        City2:</strong> {{ member.memberCity2 }}
                                    </li>
                                    <li><i class="fa fa-info"></i><strong>
                                        Pincode2:</strong> {{ member.memberPincode2 }}
                                    </li>
                                    <li><i class="fa fa-users"></i><strong> Gender:</strong> {{ member.memberGender }}
                                    </li>
                                    <li><i class="fa fa-phone-square"></i><strong> Contact
                                        Number: </strong>{{ member.memberContactNumber }}  </li>
                                    <li><i class="fa fa-phone"></i><strong> Emergency
                                        Number:</strong> {{ member.memberEmergencyNumber }}  </li>
                                    <li><i class="fa fa-envelope"></i><strong> Email:</strong> {{ member.memberEmail }}
                                    </li>
                                    <li><i class="fa fa-check"></i><strong> Member
                                        Number:</strong> {{ member.memberNumber }}  </li>
                                </ul>
                            </div>
                            <div class="right col-xs-5 ">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check-circle"></i><strong>Identification
                                        Mark </strong> {{ member.identficationMark }}  </li>
                                    <li><i class="fa fa-random"></i><strong>Due Amount </strong> {{ member.dueAmount }}
                                    </li>
                                    <li><i class="fa fa-random"></i><strong>Paid
                                        Amount </strong> {{ member.paidAmount }}
                                    </li>
                                    <li><i class="fa fa-random"></i><strong>Height (in
                                        cms) </strong> {{ member.memberHeight }}  </li>
                                    <li><i class="fa fa-check-circle"></i><strong>Weight (in
                                        KG) </strong> {{ member.memberWeight }}  </li>
                                    <li><i class="fa fa-star"></i><strong> Registration
                                        Date:</strong> {{ member.memberRegistrationDate }}  </li>
                                    <li><i class="fa fa-clock-o"></i><strong> Last Plan Activation
                                        Date:</strong> {{ member.memberPlanActivationDate }}  </li>
                                    <li><i class="fa fa-thumbs-down"></i><strong> Last Plan Expiry
                                        Date: </strong> {{ member.memberPlandExpiryDate }}  </li>
                                    <li><i class="fa fa-eye"></i><strong> Status:</strong> {% if member.memberStatus %}
                                        Active {% else %} Inactive{% endif %} </li>
                                    <li><i class="fa fa-book"></i><strong> Problems (if
                                        any):</strong> {{ member.memberProblems }}  </li>
                                    <li><i class="fa fa-book"></i><strong> Plan:</strong> {{ member.memberPlan }}  </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Member Stats </h2>
                <!-- <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>

                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul> -->
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="countries_list table table-striped">
                    <tbody>
                    <tr>
                        <td>Total Registered Members</td>
                        <td class="fs15 fw700 text-right">{{ totalNumberOfMembers }}</td>
                    </tr>
                    <tr>
                        <td>Active Members</td>
                        <td class="fs15 fw700 text-right">{{ totalActiveMembers }}</td>
                    </tr>
                    <tr>
                        <td>Total Male</td>
                        <td class="fs15 fw700 text-right">{{ maleCount }}</td>
                    </tr>
                    <tr>
                        <td>Total Female</td>
                        <td class="fs15 fw700 text-right">{{ femaleCount }}</td>
                    </tr>
                    <tr>
                        <td>New Members (last 30 days)</td>
                        <td class="fs15 fw700 text-right">{{ newMembers }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}